.item-detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  background-color: #979797;
  flex-wrap: wrap;
}

.img-detail-container {
  flex: 1;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-detail {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.details-container {
  flex: 1;
  max-width: 500px;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.details-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.details-container p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: #333;
}

.details-container .price {
  font-size: 1.5rem;
  color: #d9230f;
  font-weight: bold;
}