.navbar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    
}

.navbar .logo {
    width: 100px;
    height: 100px;
}

.categories {
    display: flex;

}

.categories li{
    padding: 0 20px;

}